.button {
  cursor: pointer;
}

.input {
  text-align: center;
  border: 0;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input:focus {
  border-bottom: 1px solid var(--input-text-bottom-border-color);
  outline: none;
}
