.container {
  display: flex;
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-flow: column wrap;
  padding: 0.5rem;
}

.avatar {
  align-self: center;
}

.action {
  align-self: center;
}
